.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    list-style-type: none;
    height: 100vh;
    gap: 20px;
        background-color: #fce4ec;
        
}

.icons :hover{ 
    color: #ff6a3d;
    transform: translateY(-5px);
}

.icons2{
    border-radius: 40%;
}

.icons2:hover{
    transform: translateY(-5px);
    color: #ff6a3d;
}


.tugas{
    text-align: center;
    color: #1a2238;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 19px 16px;
    background-color: whitesmoke;
    text-decoration: none;
    margin-top: 0;
}

li a:hover {
    color: #ff6a3d;
}


body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fce4ec;
    overflow-x: hidden;
  }

  nav {
    width: 100%;
    background-color: #f48fb1;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  nav a:hover {
    background-color: #ec407a;
  }

  .scrolling-message {
    position: absolute;
    top: 75px;
    left: 0;
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    animation: scrollMessage 10s linear infinite;
    color: #d81b60;
    width: 100%;
  }

  @keyframes scrollMessage {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .center-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 150px auto 30px auto;
    background-image: url("foto kucing.jpg");
    background-size: cover;
    background-position: center;
  }

  section {
    display: none;
    padding: 100px 20px 50px 20px;
    max-width: 800px;
    margin: auto;
    font-size: 20px;
    color: #880e4f;
    text-align: left;
  }

  section.active {
    display: block;
  }

  #home {
    text-align: center;
    position: relative;
  }

  ul li a {
    color: #d81b60;
    text-decoration: none;
  }

  ul li a:hover {
    text-decoration: underline;
  }


  .tugas1{
    text-align: center;
    margin-top: 100px;
    color: black;
    text-decoration: none;
}


.tugas1:hover{
    color: #001A6E;
    
}

video{
    height: 400px;
    width: 200px;
}

.tekstugas{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-top: 100px;
    
}

.aboutsaya{
    text-align: center;
    margin-top: 200px;
}